# Lists and loops

As we are to become Data Scientists, we are going to need objects that can store multiple elements. In Python, the list is one of the most useful ones. You can create a list with `[]`, and separating its elements with commas:

**List Exercises**

In [1]:
# some lists to work with
car_brands = ["BMW", "Volkswagen", "Mercedes", "Ford", "Apple", "Toyota", 
              "Tesla", "Kia", "Porsche", "Mazda", "Honda", "Jaguar", 
              "Mitsubishi", "Audi", "Bentley", "Bugatti", "Chrisler"]

fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 53, 89, 144]

characters = [["Harry", "Hermoine", "Ron"], 
              ["Daenerys Targaryen", "Jon Snow", "Tyrion Lannister", 
               "Cercei Lannister", "Arya Stark", "Sansa Stark"],
              ["Aragorn", "Gandalf", "Frodo", "Legolas", "Gollum", "Gimli"],
              ["Walter White", "Jesse Pinkman", "Gus Fring"]
             ]

sex_and_the_city = ["Carrie", "Samantha", "Charlotte", "Miranda"]

numbers = [[1, 51, 59, 2, 95, 25, 28, 67, 14, 63, 84, 33, 56, 31, 54, 97, 77, 
            98, 46, 84, 6, 66, 86, 77, 69, 19, 77, 7, 76, 19, 59, 77, 28, 34, 
            94, 4, 45, 95, 41, 66, 5, 38, 35, 57, 84, 38, 94, 65, 45, 80, 83, 
            22, 12, 100, 52, 55, 31, 69, 29, 67, 4, 39, 87, 49, 81, 82, 96, 4, 
            85, 62, 90, 72, 70, 26, 29, 63, 48, 94, 58, 9, 49, 79, 33, 63, 41, 
            13, 90, 37, 31, 3, 11, 54, 56, 72, 91, 97, 2, 83, 82, 6]]

1. Find out the position of "Bugatti" in the `car_brands` list (whether it is the 3rd element, the 5th...).

In [2]:
print(car_brands.index("Bugatti") + 1)

16

2. Remove "Apple" from the `car_brands` list.

In [3]:
car_brands = ["BMW", "Volkswagen", "Mercedes", "Ford", "Apple", "Toyota", 
              "Tesla", "Kia", "Porsche", "Mazda", "Honda", "Jaguar", 
              "Mitsubishi", "Audi", "Bentley", "Bugatti", "Chrisler"]

car_brands.remove("Apple")
print(car_brands)

['BMW', 'Volkswagen', 'Mercedes', 'Ford', 'Toyota', 'Tesla', 'Kia', 'Porsche', 'Mazda', 'Honda', 'Jaguar', 'Mitsubishi', 'Audi', 'Bentley', 'Bugatti', 'Chrisler']

3. Order alphabetically the `car_brands` list.

In [4]:
sorted(car_brands)

['Audi',
 'BMW',
 'Bentley',
 'Bugatti',
 'Chrisler',
 'Ford',
 'Honda',
 'Jaguar',
 'Kia',
 'Mazda',
 'Mercedes',
 'Mitsubishi',
 'Porsche',
 'Tesla',
 'Toyota',
 'Volkswagen']

4. There is a mistake in the list with fibonacci sequence: fix it.

In [5]:
fibonacci[-3] = 55
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

5. Order descendingly the `fibonacci` list.

In [6]:
fibonacci.sort(reverse=True)
print(fibonacci)

[144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

6. Add "Hagrid" and "Dumbledore" to the first list inside the `characters` list.

In [7]:
characters[1].remove("Dumbledore")
print(characters)

ValueError: list.remove(x): x not in list

7. Add the `sex_and_the_city` list in the `characters` list.

In [8]:
characters.append(sex_and_the_city)
print(characters)

[['Harry', 'Hermoine', 'Ron'], ['Daenerys Targaryen', 'Jon Snow', 'Tyrion Lannister', 'Cercei Lannister', 'Arya Stark', 'Sansa Stark'], ['Aragorn', 'Gandalf', 'Frodo', 'Legolas', 'Gollum', 'Gimli'], ['Walter White', 'Jesse Pinkman', 'Gus Fring'], ['Carrie', 'Samantha', 'Charlotte', 'Miranda']]

8. Remove all elements from the `sex_and_the_city` list.

In [9]:
sex_and_the_city.clear()
print(sex_and_the_city)

[]

9. Sum all elements in the `numbers` list.

In [10]:
print(sum(numbers[0]))

5312

10. Find out how many times does the number `77` appear in the `numbers` list.

In [11]:
print(numbers[0].count(77))

4

### For loops

Whenever you want to apply any transformation to all elements in a list, you iterate through them with a `for` loop.

**Exercise:** 

1. Create a List named `lower_names` with all the names of the students in your batch. Include name and surname, all in lowercase (like `john doe`).

In [12]:
lower_names = ["justine amabel", "karl anna", "lina sergei", "magnus aurora"]

2. Create a new list `capital_names`  with both the names and surnames capitalized (like `John Doe`), by iterating through the first list with a `for` loop.

In [13]:
capital_names = []
for x in range(len(lower_names)):
    capital_names.append(lower_names[x].title())
    
print(capital_names)

['Justine Amabel', 'Karl Anna', 'Lina Sergei', 'Magnus Aurora']

### Conditions with `if`

Whenever you want to do something only if a condition is met, you will need an `if` statement. Let's say we want to greet people only if their name starts with "A". We will add a few more names to our list:

In [14]:
names_list = ["Justine", "Amabel", "Karl", "Anna", "Lina", "Sergei", "Magnus", "Aurora"]

In [15]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    print("next iteration incoming... \n")

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!
next iteration incoming...

**Exercise:** In the previous code, the "next iteration incoming..." text gets printed also for the last iteration, which might be confusing for whoever is reading the output of this code. Tweak the code so that this text only gets printed if we are not in the last element of our list.

In [16]:
for name in names_list:
    if name.startswith("A") and names_list.index(name) == len(names_list)-1:
        print("Hello " + name + "!")
    elif names_list.index(name) == len(names_list):
        print("Bye " + name + "!")
    elif name.startswith("A") and names_list.index(name) < len(names_list):
        print("Hello " + name + "!")
        print("next iteration incoming... \n")
    elif names_list.index(name) < len(names_list):
        print("Bye " + name + "!")
        print("next iteration incoming... \n")

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!

In [17]:
i=1
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    if(i != len(names_list)):
        print("next iteration incoming... \n")
    i+=1

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!

### Bonus exercises

1. Implement the for loop that greets people for the `characters` list you used in the previous exercises. For now, do not include any condition —just say hello to every character. What do you need to do to iterate through lists inside a list?

In [18]:
for element in characters:
    for name in element:
        print(f"Hello {name}")

Hello Harry
Hello Hermoine
Hello Ron
Hello Daenerys Targaryen
Hello Jon Snow
Hello Tyrion Lannister
Hello Cercei Lannister
Hello Arya Stark
Hello Sansa Stark
Hello Aragorn
Hello Gandalf
Hello Frodo
Hello Legolas
Hello Gollum
Hello Gimli
Hello Walter White
Hello Jesse Pinkman
Hello Gus Fring

2. Tweak the code of the previous exercise to greet characters based on these conditions:

- If their name is composed of two words (Name Surname), the greeting should be "Hello Name, from the house of Surname".

- If their name is shorter than 6 characters, the greeting should replicate the last letter of the name as many times as needed until it reaches 6 characters.

In [19]:
for element in characters:
    for name in element:
        if name.find(' ') > 0:
            fullname = name.split(' ')
            print(f"Hello {fullname[0]}, from the house of {fullname[1]}")

Hello Daenerys, from the house of Targaryen
Hello Jon, from the house of Snow
Hello Tyrion, from the house of Lannister
Hello Cercei, from the house of Lannister
Hello Arya, from the house of Stark
Hello Sansa, from the house of Stark
Hello Walter, from the house of White
Hello Jesse, from the house of Pinkman
Hello Gus, from the house of Fring

In [20]:
for element in characters:
    for name in element:
        if name.find(' ') > 0:
            fullname = name.split(' ')
            if len(fullname[0]) < 6:
                f_name = fullname[0] + fullname[0][-1]*(6 - len(fullname[0]))
                print(f"Hello {''.join(f_name)}, from the house of {fullname[1]}")
            else:
                print(f"Hello {fullname[0]}, from the house of {fullname[1]}")

Hello Daenerys, from the house of Targaryen
Hello Jonnnn, from the house of Snow
Hello Tyrion, from the house of Lannister
Hello Cercei, from the house of Lannister
Hello Aryaaa, from the house of Stark
Hello Sansaa, from the house of Stark
Hello Walter, from the house of White
Hello Jessee, from the house of Pinkman
Hello Gussss, from the house of Fring

In [21]:
list1 = [1, 2, 3]
list2 = list1
list2.reverse()
print(list1)
print(list2)

[3, 2, 1]
[3, 2, 1]

# Tuples and Sets

**Tuples** are almost exactly like lists, but unmutable. You'll see what that means in a second. They are defined by regular parentheses instead of square brackets:

In [22]:
my_tuple = ("a", "b", "c", "d")
print(my_tuple)

('a', 'b', 'c', 'd')

Tuples are ordered. You can select items inside of a tuple by indexing with `[]`, just like lists:

In [23]:
my_tuple[2]

'c'

But you can not update the value of an element inside of a tuple. Trying to do so will result in a `TypeError`:

In [24]:
my_tuple[2] = "e"

TypeError: 'tuple' object does not support item assignment

**Sets** are collections of items, just like lists and tuples, but they have the following properties:

* They're not ordered.
* They're unchangeable.
* They cannot contain duplicate members.

In [25]:
my_set = {1, 2, 3, 4}

If you try to include a duplicate into a set, it will simply not get stored:

In [26]:
my_fibonacci_set = {1, 1, 2, 3, 5}
print(my_fibonacci_set)

{1, 2, 3, 5}

This characteristic makes them useful to extract unique values from other python collections. You can transform another collection into a set using the `set()` function:

In [27]:
price_list = [3.99, 2.5, 9.99, 1, 4.95, 
              3, 2.5, 6, 8, 1, 9.99, 4, 
              11.25, 14, 3.99, 4, 6, 1]
unique_prices = set(price_list)
print(unique_prices)

{1, 2.5, 3.99, 4.95, 3, 6, 4, 8, 9.99, 11.25, 14}

In [28]:
print(
    "There are", len(price_list), "prices listed, but only",
    len(unique_prices), "unique price values."
    )

There are 18 prices listed, but only 11 unique price values.

**Exercise:** 

* Create a tuple with 10 elements and store it in a variable named `first_tuple`.
* Using `[]`, select only the first 6 elements of the tuple you created and store them into a new variable named `second_tuple`.
* Convert the `second_tuple` into a set and store it in a variable called `first_set`.
* Can you select the first element of the `first_set`?

In [29]:
t = []
for x in range(10):
    t.append(x) 
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
first_tuple = (t(x) for x in range(10))
first_tuple
print(first_tuple)

<generator object <genexpr> at 0x0000021E587B9970>

**Exercise:** Below, you have a set with healthy ingredients and another one with vegan ingredients. Using [set methods you will find here](https://www.w3schools.com/python/python_ref_set.asp), print out a set with ingredients that are both healthy and vegan.

In [31]:
healthy_food = {"apple", "salmon", "avocado", "seafood", "olive oil", "spinach", "yogurt"}
vegan_food = {"cookies", "apple", "avocado", "candy", "olive oil", "fake chiken", "spinach"}

print(healthy_food|vegan_food)

{'salmon', 'fake chiken', 'olive oil', 'seafood', 'cookies', 'candy', 'avocado', 'apple', 'yogurt', 'spinach'}